@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
:root {
  --main-bg-color: #2874f0;
}

* {
  padding: 0;
  margin: 0;
}

header {
  background-color: var(--main-bg-color);
  font-family: "Lato", sans-serif;
  /* height: 8vh; */
}

nav {
  display: flex;
}
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 88px;
  padding: 0 25px;
}

nav ul {
  display: flex;
  height: 8vh;
  /* height: 58px; */
  justify-content: flex-start;
  align-items: center; /*Won't work unless height = header*/
}
nav ul li {
  list-style: none;
  padding: 0 1.5vw;
  /* padding: 0 23px; */
}
nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  font-weight: bolder;
}

.search {
  display: flex;
  align-items: center;
}
#search_bar {
  width: 30vw;
  height: 4.3vh;
  /* height: 27px; */
  margin: 0 1vw 0 3vw;
  /* margin: 0 16px 0 56px ; */
  border-radius: 2px;
  padding: 0 0.8vw;
  /* border-color: black; */
}
.search button {
  font-family: "Lato", sans-serif;
}
.btn:hover {
  background-color: #ced9ec;
}

.container {
  min-height: calc(100vh - 12vh - 8vh);
}

.slider {
  width: 80vw;
  margin: 2vh auto;
  overflow: hidden;
}

.card {
  max-width: 88vw;
  margin: auto;
  background-color: rgb(209, 230, 241);
  font-family: "Lato", sans-serif;
  /* overflow: scroll; */
  overflow: hidden;
}
h2 {
  margin: 1vh 0;
  padding: 1vw;
}

.cards {
  display: flex;
  justify-content: center;
  margin: 3vh 0;
}

.card-item {
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 4.5vw;
}

img:hover {
  transform: scale(1.13);
}
.images:hover {
  transform: none;
}

.title {
  margin: 0.3vh 0;
}

.lines {
  margin: 2vh;
}

.discount {
  color: green;
  margin: 0.3vh 0;
}

hr {
  width: 5%;
  border: dotted 6px #2874f0;
  border-bottom: none;
  margin: 5vh auto;
}

footer {
  background-color: var(--main-bg-color);
  color: white;
  height: 12vh;
  font-family: "Lato", sans-serif;
}
